body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 50px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.counterhead {
  display: block;
  margin: 10px;
  border: 2px solid rgb(193, 193, 193);
  padding: 10px;
}

.counter {
  display: block;
  margin: 10px;
  border: 2px dashed rgb(60, 255, 0);
  padding: 10px;
}

.input-number {
  margin: 2px;
  padding: 2px;
}
